{% if action =='edit' %}
<div class="row">
<a class="pull-right btn btn-mini btn-danger removeCustomProviderInfoBtn" href="{{ path('_customprovider_remove',{id:customProviderInfo.id}) }}" >Remove</a>
</div>
{% endif %}
<form action="{{ actionUrl }}" method="POST">

<div class="row">
<div class="formMessage">
</div>
{% if action =='edit' %}
<div class="span3">
Alias : <b>{{ customProviderInfo.alias }}</b>
</div>
{% endif %}
{% if action =='create' %}
<div class="span4">
{{ form_row(form.alias) }}
</div>
{% endif %}
<div class="span4">
{{ form_row(form.name) }}
</div>
{{ form_errors(form.endPointUrl) }}
<div class="span4 input-append">


{{ form_label(form.endPointUrl) }}
{{ form_widget(form.endPointUrl) }}
<a class="btn btn-success testCustomProviderBtn">Test</a>
</div>
<div class="span4 testCustomProviderResult">
</div>
<div class="span4">
{{ form_row(form.authType) }}
</div>
<div class="span3">
{{ form_row(form.username) }}
</div>
<div class="span3">
{{ form_row(form.password) }}
</div>
{{ form_rest(form) }}
<input type="submit" class="offset1 btn btn-success" value="Save"/>
</div>
</form>

